$cWhite: white;
$cBlack: black;
$cBgGray: rgba(88, 88, 88, 0.5);
$contentMaxWidth: 1070px;
$navHeight: 100px;
$cBlue: #212dc5;
$cPurple: #cf1e8e;
$cPink: #F8A5FF;
$cGreen: #D3E4CD;
$cDarkGreen: #ADC2A9;
$cOlive: #1da074;
$cOrenge: #FFA5A5;
$cBeige: rgba(254, 245, 237, 0.46);
$cYellow: rgb(216, 188, 110);
$cGray: rgba(206, 206, 206, 0.2);